/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Roboto);

.container {
  width: 100%;
}

.navbar_all_elements {
  height: 10vh;
  background-color: #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f5f5f5;
  // padding-left: 15px;
  // padding-right: 15px;
  /*margin-left: 0;
  margin-right: 0;
  margin-top: 0;*/
  text-decoration: none;
  h1, a {
    text-decoration: none;
    color: #f5f5f5;
  }
  width: 100%;
}





.navbar_all_elements:link, .navbar_all_elements:visited {
  color: #f5f5f5
}
/*a {
    text-decoration: none;
}
a:link, a:visited {
    color: blue;
}
a:hover {
    color: red;
}*/

.session_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px auto 0px auto;
  padding: 10px;
  width: 30%;

  .session_form_button {
    color: #FFF;
    background-color: #DA4F49;
    margin: 2.5px;
    outline: 0;
    background: #EF3B3A;
  }
  .session_form_button2 {
    outline: 0;
    background: #EF3B3A;
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    // +border-top-radius(3px)
    // +border-bottom-radius(3px)
    color: #FFFFFF;
    font-size: 14px;
    // +transition(all .3 ease)
    cursor: pointer;
  }
  .session_form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .session_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .form_label {
        width: 80px;
      }
      img {
        width: 150px;
        height: 150px;
        margin: 0 auto 30px;
        padding: 50px 30px;
      }
    }
  }
}

.logged_in_heart {
  height: 30px;
  width: 30px;
}

.navbar_right {
  display: flex;
  align-items: center;
  span {
    margin-right: 10px;
  }
}

header {
  margin-left: 10px;
}



.session_form_button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#e14e4e;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:12px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.session_form_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.session_form_button:active {
	position:relative;
	top:1px;
}

// .demo_and_instead {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
// }

.demo_button {
	-moz-box-shadow: 0px 0px 0px 0px #8a2a21;
	-webkit-box-shadow: 0px 0px 0px 0px #8a2a21;
	box-shadow: 0px 0px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:5px 5px;
	text-decoration:none;
	text-shadow:0px 0px 0px #810e05;
  float: right;
  margin-bottom: 0px;
}
.demo_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.demo_button:active {
	position:relative;
	top:1px;
}

.demo_and_instead {
  width: 100%;
}

.instead {
  float: left;
}

.instead_text {
  color: #e14e4e;
  text-decoration: none;
}

.top_session_form_text {
  margin: 0 0 15px;
  padding: 0;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 300;
  color: lighten(#000000, 10%);
  font-family: monospace;
}

input[type="text"], input[type="password"] {
  outline: 0;
  background: darken(#FFFFFF, 5%);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
    // +border-top-radius(3px)
    // +border-bottom-radius(3px)
    // +box-sizing(border-box)
  font-size: 14px;
}


// input[type="text"] {
//
// }
//     outline: 0
//     background: darken($white, 5%)
//     width: 100%
//     border: 0
//     margin: 0 0 15px
//     padding: 15px
//     +border-top-radius(3px)
//     +border-bottom-radius(3px)
//     +box-sizing(border-box)
//     font-size: 14px

// .car-index-item {
//   width: 450px;
// }
//
// .car-index-image {
//   height: 50px;
//   width: 80%;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }
//
// .car-index-item:hover{
//   height: 100px;
//   width: 600px;
// }

.car-index-item {
  position: relative;

  border: .5px solid rgba(209, 206, 206, .5);
  overflow: hidden;
  width: 25%;
  background-color: #FFFFFF;
  height: 300px;
  max-width: 100%;

  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.car-index-item-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.car-index-item-text p {
  // text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
  font-family: 'Roboto';
  margin-left: 4px;
  margin-right: 4px;
}

.car-index-item-make {
  font-weight: bold;
}

.car-index-item:hover {
  z-index: 2;
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.car-index-image {
  width: 100%;
  height: 88%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.session-form-errors {
  color: red;
}

svg#heart {
  height: 50px;
  width: 50px;

}

#heart-path {
  fill: white;
  stroke: red;
  stroke-width: 1px;
  stroke-dasharray: 125;
  stroke-dashoffset: -125;
  stroke-linecap: butt;
}

#heart-path:hover {
  border: #e14e4e;
  stroke-dashoffset: 0;
  stroke-dasharray: 125;
}

// svg#heart:visited {
//   outline-color: red;
// }

.all_cars {
  display: flex;
  flex-direction: row;
  flex: 5 4 auto;
  flex-wrap: wrap;
}

.car-index-item-price {
  font-weight: bold;
  font-size: 20px;
}

.search_placeholder {
  height: 90vh;
  width: 18%;
  border: 2px solid blue;
}

.car_index {
  display: flex;
}
