/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Roboto);
 @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,500,700');
 @import url('https://fonts.googleapis.com/css?family=Muli:200');
 @import url('https://fonts.googleapis.com/css?family=Titillium+Web:200');
 @import url('https://fonts.googleapis.com/css?family=Quicksand');
 @import url('https://fonts.googleapis.com/css?family=Antic+Slab');
 @import url('https://fonts.googleapis.com/css?family=Neuton');
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import './datepicker';
 // @import "lib/animate.css";







.container {
  width: 100%;
}

.navbar_all_elements {
  height: 50px;
  background-color: #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f5f5f5;
  text-decoration: none;
  h1, a {
    text-decoration: none;
    color: #f5f5f5;
  }
  width: 100%;
}





.navbar_all_elements:link, .navbar_all_elements:visited {
  color: #f5f5f5
}


.session_form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto 0px auto;
  padding: 10px;
  width: 30%;

  .session_form_button, .search-form-submit-button {
    font-family: 'Titillium Web', sans-serif;
    color: #FFF;
    background-color: #DA4F49;
    margin: 2.5px;
    outline: 0;
    background: #EF3B3A;
  }
  .session_form_button2, .search-form-submit-button {
    outline: 0;
    background: #EF3B3A;
    width: 100%;
    padding: 15px;
    border-radius: .5px;
    // +border-top-radius(3px)
    // +border-bottom-radius(3px)
    color: #FFFFFF;
    font-size: 14px;
    // +transition(all .3 ease)
    cursor: pointer;
  }
  .session_form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .session_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .form_label {
        width: 80px;
      }
      img {
        width: 150px;
        height: 150px;
        margin: 0 auto 30px;
        padding: 50px 30px;
      }
    }
  }
}

.logged_in_heart {
  height: 30px;
  width: 30px;
}

.navbar_right {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  min-width: 230px;
  justify-content: space-between;
  span {
    margin-right: 10px;
  }
}

.navbar-right-logged-out {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-around;
  margin-right: 15px;
  .navbar-sign-up {
    margin-left: 10px;
    margin-right: 10px;
  }
}

header {
  margin-left: 10px;
  font-family: 'Neuton', serif;
}

.up {
  color: #e14e4e;
}


.session_form_button, .test-drive-button, .search-form-submit-button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#e14e4e;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:2.5px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:white;
  font-weight: bold;
  font-family: 'Titillium Web', sans-serif;
	font-size:15px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.session_form_button:hover, .test-drive-button:hover, .search-form-submit-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.session_form_button:active, .test-drive-button:active, .search-form-button:active {
	position:relative;
	top:1px;
}

// .demo_and_instead {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
// }

.demo_button {
	-moz-box-shadow: 0px 0px 0px 0px #8a2a21;
	-webkit-box-shadow: 0px 0px 0px 0px #8a2a21;
	box-shadow: 0px 0px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:5px 5px;
	text-decoration:none;
	text-shadow:0px 0px 0px #810e05;
  float: right;
  margin-bottom: 0px;
}
.demo_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.demo_button:active {
	position:relative;
	top:1px;
}

.demo_and_instead {
  width: 100%;
}

.instead {
  float: left;
}

.instead_text {
  color: #e14e4e;
  text-decoration: none;
}

.top_session_form_text {
  margin: 0 0 15px;
  padding: 0;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 300;
  color: lighten(#000000, 10%);
  font-family: monospace;
}

input[type="text"], input[type="password"] {
  outline: 0;
  background: darken(#FFFFFF, 5%);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
}




.car-index-item {
  position: relative;

  border: .5px solid rgba(209, 206, 206, .5);
  overflow: hidden;
  width: 25%;
  background-color: #FFFFFF;
  height: 300px;
  max-width: 100%;

  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.car-index-item-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.car-index-item-text p {
  // text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
  font-family: 'Roboto', sans-serif;
  // margin-left: 4px;
  // margin-right: 4px;
  font-weight: 100;
}

.index-mileage {
  font-size: 12px;
  color: #9b9b9b;
}

.index-item-make, .search-form-header {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.index-item-make {
  font-weight: 500;
}

// .search-form-header {
//   margin-top: 15px;
// }

.search-form-header-top {
  margin-top: 25px;
}

.search-form-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 95vh;
    width: 240px;
    border-right: .5px solid rgba(209, 206, 206, .5);
    border-bottom: .5px solid rgba(209, 206, 206, .5);
    overflow: scroll;
    padding-left: 10px;

}

.search-form-list {
  width: 100%;
  margin-top: 15px;
}

.search-form-button {
  font-weight: 100;
  margin-left: 0px;
  font-family: 'Roboto', sans-serif;
  background: #f7f7f8;
  // padding-left: 10px;
  border-bottom: .5px solid rgba(209, 206, 206, .5);
}

.search-form-button:hover {
  color: #e14e4e;
}

.search-form-button button {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-form-current-value {
  // margin-left: 15px;
  font-family: 'Quicksand', sans-serif;

}

.car-index-item:hover {
  z-index: 2;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.car-index-image, .car-show-image {
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.car-show-image {
  width: 65%;
  margin: 0 auto;
  height: auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.session-form-errors {
  color: red;
}

svg#heart {
  height: 50px;
  width: 50px;

}

#heart-path {
  border: gray;
  fill: white;
  stroke: red;
  stroke-width: 1px;
  stroke-dasharray: 125;
  stroke-dashoffset: -125;
  stroke-linecap: butt;
}

#heart-path:hover {
  border: #e14e4e;
  stroke-dashoffset: 0;
  stroke-dasharray: 125;
}

// svg#heart:visited {
//   outline-color: red;
// }

.all_cars, .all-favorite-cars {
  display: flex;
  flex-direction: row;
  flex: 5 4 auto;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 95vh;
  max-height: 95vh;
  overflow: scroll;
}

.car-index-item-price {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-right: 10px;
}



.car_index {
  display: flex;
}

.car-nav {
  display: flex;
  justify-content: space-around;
  /* position: relative; */
  // bottom: -90px;
  width: 100%;
  align-items: center;
  position: relative;
  top: -75px;
}

.car-nav-left {
  display: flex;
  align-items: center;
  height: 150px;
  min-width: 500px;
  justify-content: space-around;
  font-family: 'Roboto';
  h1 {
    font-weight: lighter;
  }
  .car-nav-price {
    font-weight: 400;
  }
}

.car-nav-right {
  display: flex;
  flex-direction: row;
  // width: 300px;
  margin-left: 10px;
  justify-content: flex-end;
  margin-right: 100px;
  padding-right: 50px;
}

.car-nav-details {
  display: flex;
  align-items: center;
}

.car-detail-yr {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px;
}

.car-detail-miles {
  margin-left: 12px;
}

.car-nav-basic-info {
  padding-left: 50px;
  padding-right: 40px;
  border-right: .5px solid rgba(209, 206, 206, .5);
}

.index-item-year {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding: 1px;
  font-size: 12px;
  line-height: 20px;
  padding: 0 7px;
}

.test-drive-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.test-drive-button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.test-drive-button:hover span {
  padding-right: 18px;
}

.test-drive-button:hover span:after {
  opacity: 1;
  right: 0;
}

.car-nav-favorite-button {
  background: #ffffff;
  padding: 10px;
  color: #e14e4e;
  border: 1px solid #e14e4e;
  border-radius: 3px;
  margin-right: 10px;
}

.car-nav-price {
  margin: .5em 0;
  padding: .25em 0;
  font-size: 250%;
  font-weight: lighter;
  padding-left: 40px;
}

.car-show {
  display: flex;
  flex-direction: column;
}

.car-show-detail {
  border-top: 3px solid rgba(209, 206, 206, .5);
  background:rgba(211,211,211,0.5);
  text-transform: capitalize;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  margin-top: -63px;

  h3 {
    font-weight: lighter;
    // margin-left: 60px;
    display: block;
    // margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
    float: left;
  }
}


.car-show-detail-table thead {
  display: none;
}

.left-table-text {
  font-weight: bold;
  padding-left: 5px;
}

.car-show-detail-table {
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  // margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0px -3px 15px -5px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  font-family: 'Roboto';
  margin-bottom: 10px;
}

tr {
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.car-show-detail-table-data tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

.lower-case {
  text-transform: lowercase;
}

input[type="range"]{
  -webkit-appearance:none;
  width:90%;
  height:22px;
  min-height: 22px;
  background: linear-gradient(to right, #424242, #e5e5e5 100%);
  background-size: 210px 3px;
  background-position:center;
  background-repeat:no-repeat;
  overflow:hidden;
  outline: none;
  // margin-left: 5px;
}


input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:30px;
  height:19px;
  background:white;
  border: .25px solid #c5c5c5;
  position:relative;
  z-index:3;
	border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb:after{
  content:" ";
  width:160px;
  height:10px;
  position:absolute;
  z-index:1;
  right:20px;
  top:5px;
  background: #ff5b32;
  background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
}

.search-form-top-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  margin-bottom: 7px;
  margin-top: 10px;
  .search-reset-button {
    color: #e14e4e;
    padding-right: 10px;
  }
}

#idx-item-price {
  font-weight: 400;
}

.search-form-submit-button {
  margin: auto;
}

// .search-form-box {
//   display: flex;
//   flex-direction: column;
//   // justify-content: flex-start;
//   align-items: flex-start;
// }

.car-show-favorite-button {
  margin-right: 28px;
  border: .5px solid #e14e4e;
  color: #e14e4e;
  padding: 8px;
  border-radius: 2.5px;
}

.Collapsible {
  width: 90%;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
}

.Collapsible__trigger:hover {
  color: #e14e4e;
  cursor: pointer;
}

.search-form-top-text-container {
  width: 100%;
}

.car-index-favorite-button {
  color: #e0e0e0;
}

.car-index-favorite-button:hover {
  color: #e14e4e;
}

.car-index-unfavorite-button {
  color: #e14e4e;
}

.car-index-unfavorite-button, .car-index-favorite-button {
  position:absolute; left:8px; top:8px;

}

.car-index-text-all {
    position: absolute;
    width: 100%;
    bottom: 5px;
    padding-left: 10px;
}

// .car-show-image {
//   height: 739px;
// }

.car-nav {
  // position: absolute;
  // bottom: 0px;
}

.navbar-favorite-button-logged-in {
  color: #e14e4e;
}

.navbar-favorite-container {
  position: relative;
}

.favorite-counter {
  position: absolute;
  top: 7px;
  left: 10.6px;
}

// .car-show-image-container {
//   align-items: center;
//   display: flex;
//   flex-direction: column;
//   height: 75%;
// }
//
// .car-show-image {
//   display: flex;
//   flex: 1;
//   max-height: 671px;
//   max-width: 1071px;
//   height: 100%;
//   box-sizing: border-box;
//   width: auto;
// }

.hidden {
  visibility: hidden;
}

.loader {
    border-top: 10px solid #e14e4e;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin .75s linear;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 30%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.test-drive-index-show-button {
  background-color: #424242;
  color: white;
  padding: 16px;
  padding-bottom:15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.test-drive-container {
  position: relative;
  display: inline-block;
}

.all-test-drives {
  right: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.test-drive-index-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.test-drive-index-cancel-button {
  color: red;
}

.test-drive-index-item:hover {
  background-color: #f1f1f1;
}

.test-drive-container:hover .all-test-drives {
  display: block;
}

.CalendarDay:hover {
  background: #e14e4e;
}

.test-drive-form {
  display: flex;
  flex-direction: row;
}

.SingleDatePicker {
  margin-right: 10px;
}

input#date {
  padding: 0;
}
